@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Pacifico&display=swap');

body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.font-brand {
  font-family: 'Pacifico';
}
.logo {
  font-size: x-large;
  font-weight: 700;
  color: rgb(133, 3, 189);
}
